@charset "UTF-8";

body {
	width: 800px;
	color: #333333;
	background-color: #eeeeee;
	font-size: 16px;
}

p {
	width: 100px;
	text-align: center;
	padding: 10px;
	border: solid 1px #888888;
	background-color: #6666ff;
	color: #ffffff;
}